body {
    background-color:seashell;
}

h1 {
    font-family: "Linden Hill";
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    background-color: #8CB369;
    height:fit-content;
}