* {
    box-sizing: border-box;
}

body {
    background-color:seashell;
}

#h1 {
    font-family: "Linden Hill";
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    background-color: #8CB369;
    height:fit-content;
    border-radius: 20%;
}

.h2 {
    font-family: "Linden Hill";
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.para {
    font-family: "Linden Hill";
    text-align: center;
    font-size: 20px;
}

.color-section {
    align-items: center;
    margin: 0 10%;
}

.font-section {
    align-items: center;
    margin: 0 10%;
    width: 1000px;
    justify-content: center;
}

.text-section {
    align-items: center;
    margin: 0 10%;
}

.olivine {
background-color: #8CB369;
width: 300px;
height: 200px;
display: inline-block;
margin: 10px 10px;
border-radius: 50%;
text-align: center;

}

.buff {
background-color: #F4E285;
width: 300px;
height: 200px;
display: inline-block;
margin: 10px 10px;
border-radius: 50%;
text-align: center;
}

.sandy-brown {
background-color: #F4A259;
width: 300px;
height: 200px;
display: inline-block;
margin: 10px 10px;
border-radius: 50%;
text-align: center;
}

.wintergreen-dream {
background-color: #5B8E7D;
width: 300px;
height: 200px;
display: inline-block;
margin: 10px 10px;
border-radius: 50%;
text-align: center;
}

.bittersweet-shimmer {
background-color: #BC4B51;
width: 300px;
height: 200px;
display: inline-block;
margin: 10px 10px;
border-radius: 50%;
text-align: center;
}

.olivine-text {
    display: block;
    padding: 20px 20px;
    font-family: "Asar";
   
    
    
}

.buff-text {
    display: block;
    padding: 20px 20px;
    font-family: "Asar";
}

.sandy-brown-text {
    display: block;
    padding: 20px 20px;
    font-family: "Asar";
}

.wintergreen-dream-text {
    display: block;
    padding: 20px 20px;
    font-family: "Asar";
}

.bittersweet-shimmer-text {
    display: block;
    padding: 20px 20px;
    font-family: "Asar";
}

.linden-hill {
    font-family: "Linden Hill";
    display: block;
    text-align: center;
    font-size: 20px;
}

.asar {
    font-family: "Asar";
    display: block;
    text-align: center;
    font-size: 20px;

}

.libre-caslon-display {
    font-family: "Libre Caslon Display";
    display: block;
    text-align: center;
    font-size: 20px;
    
}

.rosarivo {
    font-family: "Rosarivo";
    display: block;
    text-align: center;
    font-size: 20px;
    
}

.font-1 {
display: inline-block;
border: 2px solid #BC4B51;
width: 300px;
height: 200px;
margin: 10px 10px;
vertical-align: top;
}

.font-2 {
    display: inline-block;
    border: 2px solid #BC4B51;
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    justify-content: center;
    vertical-align: top;
}

.font-3 {
    display: inline-block;
    border: 2px solid #BC4B51;
    width: 300px;
height: 200px;
margin: 10px 10px;
vertical-align: top;
}

.font-4 {
    display: inline-block;
    border: 2px solid #BC4B51;
    width: 300px;
height: 200px;
margin: 10px 10px;
vertical-align: top;
}


#main-page-heading {
font-weight:bold;
font-size: 40px;
font-family: "Linden Hill";

}

#subheading {
font-weight: 600;
font-size: 25px;
font-family: "Asar"

}

#paragraph-text {
font-weight: 400;
font-size: 18px;
font-family: "Rosarivo"
}

.text-1 {
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid black;
    width: 355px;
    height: 192px;
    vertical-align: top;
    text-align: center;
    
}

.text-2 {
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid black;
    width: 300px;
    height: 192px;
    vertical-align: top;
    text-align: center;
}

.text-3 {
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid black;
    width: 300px;
    height: 192px;
    vertical-align: top;
    text-align: center;
}

